<h1><%="Search Page"%></h1>


<% if @searched_recordings == [] %>
      <p>Invalid input!</p>
<% else %>
      <ol>
      <% @searched_recordings.each do |recording| %>
            <li><p><%= link_to "#{recording.artist.name} | #{recording.song.name}", recording_path(recording) %></p></li>
      <% end %>
      </ol>
<% end %>
