<h1><%="Song Index Page"%></h1>

<% if @songs.length == 0 %>
    <p>No Songs Found</p>
<% else %>
    <% @songs.each do |song|%>
        <% song.recordings.each do |recording| %>
            <%= link_to recording.song.name, recording_path(recording) %>
        <% end %>
    <% end %>
<% end %>

<p><%= link_to "Search Bar", home_path %></p>