<h1><%="Song Results"%></h1>

<% if @songs.length == 0 %>
    <p>No Songs Found</p>
<% else %>
    <ol>
        <% @songs.each do |song|%>
            <% song.recordings.each do |recording| %>
                <li><%= link_to "#{recording.song.name} - #{recording.artist.name} ", recording_path(recording) %></li>
            <% end %>
        <% end %>
    </ol>
<% end %>

<p><%= link_to "Search Bar", home_path %></p>