
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

<h1><%="Song Results"%></h1>


h1, h3 {
  text-align: center;
}
</style>
</head>
<body>

<h1><%="Here's the skinny:"%></h1>

<p><%= link_to "Search Bar", home_path %></p>

</body>
</html>


