<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1, h3 {
  text-align: center;
}
</style>
</head>
<body>

<h1><%= "Show Page" %></h1>

<%# <p><%= @song.name</p>
<p><%= @song.lyric %>

<!--<p><%= link_to "Search Bar", home_path %></p>-->