
<!DOCTYPE html>
<html>
  <head>

<style>

h1 {
  text-align: center;
}

body {
  background-color: white;
}

h4 {
  text-align: center;
}

h5 {
  text-align: right;
}

</style>

  </head>
  <body>


<h1><%= "What's stuck in your head?" %></h1>

<h4><%= form_tag(recording_search_path, method: :get) do %>

    <%= text_field_tag :search, params[:search], placeholder: "Enter word/phrase" %>
    <%= submit_tag 'Unstick' %></h4>
<% end %>

</body>
</html>